<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EDIPSearch.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <EDIPSearch.Properties.Settings>
            <setting name="EDLogFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="OutputFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="DataFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="PrivateKey" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoMonitoringEnabled" serializeAs="String">
                <value>True</value>
            </setting>
        </EDIPSearch.Properties.Settings>
    </userSettings>
</configuration>